django
djangorestframework
django-cors-headers
requests
python-dotenv
dj-database_url
whitenoise
gunicorn
psycopg2-binary
djangorestframework-simplejwt
pymupdf==1.24.1
google-api-python-client
google-auth-oauthlib
google-auth-httplib2